<button type="button" pButton (click)="new()" label="New"></button>

<p-table [value]="listUsuario" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th>id</th>
      <th>email</th>
      <th>cadastro</th>
      <th>ativo</th>
      <th>grupo</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.email}}</td>
      <td>{{item.cadastro | date}}</td>
      <td>{{item.ativo}}</td>
      <td>{{item.grupo}}</td>
      <td>
        <button type="button" pButton (click)="edit(item)" icon="fa-edit"></button>
        <button type="button" pButton (click)="delete(item.id)" icon="fa-trash" class="ui-button-danger"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="CRUD" [(visible)]="showModal" [modal]="true" [width]="600">

  <div class="ui-g">
    <div class="ui-g-4">id</div>
    <div class="ui-g-8">
      <input type="number"
             pInputText
             name="id"
             disabled
             [(ngModel)]="selectedUsuario.id"/>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-4">email</div>
    <div class="ui-g-8">
      <input type="text"
             pInputText
             name="email"
             [(ngModel)]="selectedUsuario.email"/>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-4">cadastro</div>
    <div class="ui-g-8">
      <p-calendar name="cadastro"
                  appendTo="body"
                  [(ngModel)]="selectedUsuario.cadastro"></p-calendar>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-4">ativo</div>
    <div class="ui-g-8">
      <p-checkbox name="ativo"
                  binary="true"
                  [(ngModel)]="selectedUsuario.ativo"></p-checkbox>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-4">grupo</div>
    <div class="ui-g-8">
      <p-dropdown name="grupo"
                  appendTo="body"
                  [options]="grupoOptions"
                  optionLabel="nome"
                  [autoDisplayFirst]="false"
                  [(ngModel)]="selectedUsuario.grupo"></p-dropdown>
    </div>
  </div>

  <p-footer>
    <button pButton type="button" (click)="save(selectedUsuario)" label="Save" class="ui-button-success"></button>
    <button pButton type="button" (click)="showModal = false" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-confirmDialog header="Delete Confirmation" icon="fa fa-trash"></p-confirmDialog>
